@font-face {
    font-family: PoiretOne;
    src: url('../fonts/Poiret_One/PoiretOne-Regular.ttf');
}

@font-face {
    font-family: Pixeloid;
    src: url('../fonts/press-start-2p-font/PressStart2P-vaV7.ttf');
}


*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

body{
    background: black;
    height: fit-content;
    overflow-y: hidden;
}
header{
    background: black;
    position: relative;
    min-height: 3000px;
    
}

.canvasContainer {
    width: 100%;
    top: 0;
    position: relative;
}

.upper-effect {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(transparent, rgba(0, 0, 0,1));
    /*backdrop-filter: blur(0px);*/
  }

.upperLayer{
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 1000px;
    background-color: rgba(180, 0, 0, 0.5);
    /*background: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(9,50,9,0.2) 34%, rgba(33, 214, 251, 0.8) 100%);
    */padding: 50px;
}


.upperLayer h1{
    transition: all 0.3s;
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: PoiretOne;
    font-weight: lighter;
    text-shadow: 1px 1px 10px white;
}

.upperLayer h1 span{
    margin: 0;
}

.alertbox{
    transition: all 0.3s;
    border: double 5px orange;
    border-radius: px;
    padding: 10px;
    background-color: rgba(orange,0.5);
    text-align: center;
    color: white;
    box-shadow: 0px 0px 10px 10px rgb(255, 157, 0,0.5);
}

.alertbox:hover{
    transition: all 0.3s;
    background-color: orange;
}

.options button{
    transition: all 0.3s;
    width: 100%;
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 80px;
}

.left-button{
    border: double rgb(64, 194, 110) 5px;
    box-shadow: 0px 0px 10px 10px rgba(141, 255, 88, 0.5);
}

.left-button:hover{
    background-color: rgb(64, 194, 110);
}

.right-button{
    border: double rgb(230, 58, 56) 5px;
    box-shadow: 0px 0px 10px 10px rgb(255, 0, 47,0.5);

}

.right-button:hover{
    border: double rgb(230, 58, 56) 5px;
    background-color: rgb(230, 58, 56);
}

.social{
    color: white;
    font-size: 40px;
}

.social *{
    font-size: 40px;
}

.social .social-link{
    transition: all 0.3s;
    color: white;
}

.social .social-link:hover{
    text-shadow: 1px 1px 10px white;
}